/* Цвета */

// Панель главного меню
$color-background:#bc6400; //#333333;
$color-item:#fff;
$color-link-active:#f6f9ab;
$color-link:#fff;



//Шрифты
$font-family: "Roboto","Arial","Times New Roman", sans-serif;
$font-size: 14px;
$font-weight: normal;


//Междубуквенный интервал
$letter-spacing-small:0px;
$letter-spacing-normal:2px;
$letter-spacing-big:5px;
