/* Цвета */

// Панель главного меню
$color-base: #bc6400; //#095a3e; // #186a33;
$color-item:#fff;
$color-link-base: $color-base;
$color-link-active:#f6f9ab;
$color-link:#fff;

// Форма авторизации
$color-background-form: lighten($color-base,15%); //#ff9933;
$color-border-input: $color-base;

// Форма поиска
$color-button:$color-border-input;
$color-border-button:$color-item;



//Шрифты
$font-family: "Roboto","Arial","Times New Roman", sans-serif;
$font-roboto-regular:"Roboto Regular";
$font-size: 14px;
$font-weight: normal;


//Междубуквенный интервал
$letter-spacing-small:0px;
$letter-spacing-normal:2px;
$letter-spacing-big:5px;
