/* Цвета */

// Панель главного меню
$bg_color-navpanel:#bc6400;
$color-item:#fff;
$link-active:#f6f9ab;
$link-color:#fff;



//Шрифты
$font-family: "Roboto","Arial","Times New Roman", sans-serif;
$font-size: 14px;
$font-weight: normal;


//Междубуквенный интервал
$letter-spacing-small:0px;
$letter-spacing-normal:2px;
$letter-spacing-big:5px;
