@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

#header {

  .wrapper_nav {
    height: 50px;
    width: 100%;
    background-color: $color-base;
    @include shadow_block;

    .mainmenu {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $color-base;
      height: 50px;

      .mobile_icon {
        @include clear;
        padding: 5px;
        margin-left: 10px;
        color: $color-item;
        //border: 1px solid $color-item;
        @include shadow_text;
        display: none;
        @include devices-max-width-992px {
          display: block;
        }
        cursor: pointer;
      }

      .mobile_items {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: $color-background-form;
        display: none;


        ul {
          list-style: none;
          @include clear;
          padding: 5px;

          li {
            padding-left: 10px;
            border-bottom: 1px solid $color-item;
            color: $color-item;
            font-size: 16px;
            background-color: lighten($color-base, 5%);
            text-transform: uppercase;
            //cursor: pointer;

            &.active {
              span, i {
                color: $color-link-active;
              }
            }

            a {
              //display: block;
              //align-items: center;
              //border: 1px solid $color-item;
              height: 30px;
              //width: 100%;
              color: $color-item;

              &:hover {
                color: $color-link-active;
              }
            }

            ul {
              li {
                border: none;
                border-bottom: 1px dotted $color-item;
                text-transform: none;

                &.active {
                  a, span {
                    color: $color-link-active;
                  }

                }

                &:last-child {
                  border-bottom: none;
                }

                a {
                  display: block;
                  width: 100%;
                }
              }
            }

          }
        }
      }

      .menu_items {
        display: flex;
        align-items: center;
        height: 40px;

        ul {
          @include clear;
          display: flex;
          list-style: none;
          color: $color-item;


          li {
            @include clear;
            margin-right: 15px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            height: 40px;
            font-size: 18px;
            //@include shadow_text;
            @include devices-max-width-1200px {
              font-size: 16px;
            }
            @include devices-max-width-992px {
              display: none;
            }
            cursor: default;
            position: relative;

            &:last-child {

              .dropdown {
                //left: -300px;
                right: 0;
                left: auto;
              }

              &:hover {
                .dropdown:last-child {
                  right: 0;
                }
              }

              right: 0;
            }

            &.active {
              color: $color-link-active;

              a {
                span {
                  color: $color-link-active;
                }

              }
            }

            i.fa-home {
              font-size: 20px;
              margin-right: 5px;
            }

            a {
              color: $color-link;
              text-decoration: none;
              display: flex;
              align-items: center;
              height: 35px;

              &:hover {
                color: $color-link-active;

              }

              i.fa-home {
                font-size: 20px;
                margin-right: 5px;
                //display: flex;
                //align-items: center;
              }

              i {
                @include clear;
                margin-left: 5px;
                //display: flex;
                //align-items: center;
                //height: 30px;
              }

              span {
                display: flex;
                align-items: center;
                height: 30px;
              }

            }

            i {
              margin-left: 5px;
            }

            &:hover {
              color: $color-link-active;

              .dropdown {
                visibility: visible;
              }
            }

            &:hover span {
              color: $color-link-active;
            }
          }

          &.dropdown {
            background-color: $color-base;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 45px;
            left: 0;
            padding: 5px;
            visibility: hidden;
            border: 1px solid $color-link-active;
            transition: all .1s;
            min-width: 300px;
            @include shadow_block;
            z-index: 1000;

            li {
              border-bottom: 1px dotted $color-item;
              padding-left: 10px;
              font-size: 14px;

              a {
                text-transform: none;
              }

              &.active {

                a {
                  color: $color-link-active;
                  text-transform: none;
                }

              }

              &:last-child {
                border-bottom: none;
              }
            }
          }

          a {
            display: block;
            width: 100%;
            height: 100%;
          }
        }

      }

      .menu_block {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-link;
        font-size: 18px;
        @include devices-max-width-1200px {
          font-size: 16px;
        }
        @include devices-max-width-992px {
          font-size: 14px;
        }
        text-transform: lowercase;
        position: relative;

        .key {
          display: flex;
          margin-right: 15px;
          align-items: center;
          cursor: pointer;
          @include shadow_text;

          &:hover {
            color: $color-link-active;
          }

          i {
            margin-right: 5px;
          }
        }


        .search {
          margin-left: 5px;
          border-left: 2px solid white;
          padding-left: 10px;
          cursor: pointer;
          @include shadow_text;

          &:hover {
            color: $color-link-active;
          }
        }

        .key_form {
          @include clear;
          padding: 5px;
          position: absolute;
          top: 39px;
          right: 0;
          width: 370px;
          height: 205px;
          background-color: $color-background-form;
          border: 1px solid $color-link-active;
          z-index: 1000;
          display: none;
          @include shadow_block;

          @include devices-max-width-480px {
            max-width: 300px;
          }

          form {
            display: flex;
            //justify-content: flex-start;
            //flex-direction: column;
            //align-items: center;
            //height: 200px;

            .form_icon {
              margin-left: 10px;
              width: 70px;
              align-self: flex-start;

              @include devices-max-width-480px {
                width: 50px;
              }
            }

            .userdata {
              margin-left: 5px;
              //float: right;
              position: relative;

              @include devices-max-width-480px {
                margin-left: 25px;
              }

              .controls {

                .input-prepend {
                  position: relative;

                  .user-icon {
                    z-index: 100;
                    position: absolute;
                    left: 10px;
                    top: 5px;
                    color: $color-border-input;
                  }

                  .key-icon {
                    z-index: 100;
                    position: absolute;
                    left: 10px;
                    top: 5px;
                    color: $color-border-input;
                  }
                }
              }

              input {
                font-style: italic;
                margin-bottom: 5px;
                color: $color-border-input;
                border: 2px solid $color-border-input;
                padding-left: 30px;
                border-radius: .3em;
                @include shadow_block;

              }

              #form-login-remember {
                display: flex;
                align-items: center;
                text-transform: none;
                font-size: 14px;

                input {
                  @include clear;
                  margin-right: 5px;
                }
              }

              .unstyled {
                @include clear;
                font-style: italic;
                list-style: none;
                display: flex;
                justify-content: space-around;
                width: 270px;
                position: absolute;
                left: -10px;
                top: 110px;
                margin-bottom: 50px;
                text-transform: none;

                @include devices-max-width-480px {
                  left: -70px;
                }


                a {
                  color: $color-item;
                  font-family: $font-roboto-regular;
                  //text-decoration: none;
                }

              }

              #form-login-submit {
                position: absolute;
                display: flex;
                width: 369px;
                justify-content: space-around;
                left: -90px;
                top: 140px;
                //border: 1px solid $color-border-input;

                @include devices-max-width-480px {
                  width: 290px;
                }

                .controls {
                  display: flex;
                  align-items: center;
                  justify-content: space-around;

                  .button_registr {
                    //display: flex;
                    //align-items: center;
                    //justify-content: center;
                    //padding: 5px;
                    margin: 5px;
                    text-transform: none;
                    text-align: center;
                    border: 2px solid $color-item;
                    border-radius: .3em;
                    width: 200px;
                    height: 35px;
                    z-index: 100;
                    @include shadow_block;

                    &:hover {
                      border: 2px solid $color-link-active;
                    }

                    a {
                      color: $color-item;
                      display: block;
                      width: 100%;
                      height: 100%;
                      margin: 5px;
                      text-decoration: none;

                      &:hover {
                        color: $color-link-active;
                      }
                    }

                  }

                  button {
                    background-color: $color-base;
                    color: $color-item;
                    border: 2px solid $color-item;
                    border-radius: .3em;
                    height: 35px;
                    cursor: pointer;
                    @include shadow_block;

                    &:hover {
                      border: 2px solid $color-link-active;
                      color: $color-link-active;
                    }
                  }
                }

              }
            }
          }

          .user-greeting{
            @include clear;

            form {
              display: flex;
              flex-direction: column;

              .login-greeting{
                text-transform: capitalize;
                margin: 5px;
                padding: 10px;
              }
              .login-action{
                display: flex;
                flex-direction: row;

                .unstyled {

                  @include clear;
                  margin: 5px;
                  padding: 10px;
                  text-transform: none;
                  list-style: none;

                  li{
                    display: flex;
                    align-items: center;

                    a{
                      display: flex;
                      align-items: center;
                      text-decoration: none;
                      color: $color-link;
                      &:hover{
                        color: $color-link-active;
                      }

                      i{
                        margin-right: 10px;
                      }
                    }
                  }
                }

                .logout-button{
                  @include clear;
                  margin: 5px;
                  padding: 10px;

                  a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: $color-link;

                    &:hover{
                      color: $color-link-active;
                    }

                    i{
                      margin-right: 10px;
                    }

                    span{
                      text-transform: none;
                    }
                  }
                }
              }

            }
          }
        }

        .user_info{
          height: 120px !important;
        }

        .search_form {
          position: absolute;
          top: 39px;
          right: 0;
          width: 350px;
          height: 120px;
          background-color: $color-background-form;
          border: 1px solid $color-link-active;
          z-index: 1000;
          display: none;
          @include shadow_block;

          @include devices-max-width-480px {
            width: 300px;
            height: 100px;
          }

          form {
            display: flex;
            position: relative;

            .icon_search {
              margin-top: 5px;
              width: 70px;

              @include devices-max-width-480px {
                width: 60px;
              }

              img {
                width: 100%;
              }
            }

            .icon_dog {
              position: absolute;
              top: 55px;
              left: 80px;

              img {
                width: 150px;

                @include devices-max-width-480px {
                  width: 100px;
                }
              }


            }

            .field_search {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-end;
              width: 260px;
              //align-self: flex-end;

              @include devices-max-width-480px {
                position: absolute;
                left: 30px;
                //width: 200px;
              }

              input {
                font-style: italic;
                color: $color-border-input;
                border: 2px solid $color-border-input;
                border-radius: .3em;
                width: 250px;
                padding-left: 10px;
                margin-right: 5px;
                margin-bottom: 15px;
                margin-top: 15px;
                @include shadow_block;

                @include devices-max-width-480px {
                  width: 210px;
                }
              }

              button {
                width: 100px;
                background-color: $color-button;
                border: 2px solid $color-border-button;
                color: $color-item;
                border-radius: .3em;
                cursor: pointer;
                margin-right: 5px;
                @include shadow_block;

                &:hover {
                  border: 2px solid $color-link-active;
                  color: $color-link-active;
                }
              }
            }
          }
        }
      }
    }


  }

  .wrapper_logo {
    @include flex-center;
    margin-top: 50px;
    background-color: lighten($color-grey, 5);
    min-height: 150px;

    .wrapper_img {
      width: 100%;
      @include flex-center;

      @include devices-max-width-992px {
        justify-content: flex-end;
      }

      @include devices-max-width-768px {
        justify-content: center;
      }

      .logo_img {
        width: 200px;
        @include devices-max-width-1200px {
          width: 180px;
        }
        @include devices-max-width-768px {
          margin-top: 10px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .logo_title {
      height: 70px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-family: $font-logo;
      font-size: 60px;
      text-align: left;
      color: $color-item;
      //@include shadow_text;
      text-shadow: $color-base 1px 1px 0, $color-base -1px -1px 0,
      $color-base -1px 1px 0, $color-base 1px -1px 0;

      a {
        color: $color-item;
        text-decoration: none;

        &:hover {
          color: $color-link-active;
        }
      }

      @include devices-max-width-1200px {
        font-size: 50px;
      }

      @include devices-max-width-992px {
        justify-content: flex-start;
      }

      @include devices-max-width-768px {
        justify-content: center;
      }
    }

    .logo_slogan {
      @include flex-center;
      justify-content: flex-end;
      text-transform: uppercase;
      font-size: 20px;
      color: $color-base;
      font-style: italic;
      font-family: $font-slogan;
      font-size: 24px;
      font-weight: bold;
      @include shadow_text;

      @include devices-max-width-1200px {
        font-size: 20px;
      }

      @include devices-max-width-992px {
        justify-content: flex-start;
        font-size: 18px;
      }

      @include devices-max-width-768px {
        justify-content: center;
      }
    }

    .baner_wraper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @include devices-max-width-992px {
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .banner_468x60 {
        //padding: 10px;
        width: 468px;
        height: 60px;
        border: 1px solid $color-base;
        background-color: $color-item;

        @include devices-max-width-480px {
          display: none;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .banner_300x250 {
        display: none;
        //padding: 10px;
        width: 300px;
        height: 250px;
        border: 1px solid $color-base;
        background-color: $color-item;

        @include devices-max-width-480px {
          display: block;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

  }

}
