@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

#header {

  .wrapper_nav{
    height: 50px;
    width: 100%;
    background-color: $color-background;
    @include shadow_block;

      .mainmenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-background;
        height: 50px;

        .menu_items  {
          display: flex;
          align-items: center;
          height: 40px;

          ul{
            @include clear;
            display: flex;
            list-style: none;
            color: $color-item;


            li{
              @include clear;
              margin-right: 15px;
              text-transform: uppercase;
              display: flex;
              align-items: center;
              height: 40px;
              font-size: 18px;
              cursor: default;
              position: relative;

              &:last-child{

                .dropdown{
                  //left: -300px;
                  right: 0;
                  left: auto;
                }

                &:hover{
                  .dropdown:last-child{
                    right: 0;
                  }
                }
                right: 0;
              }

              &.active{
                color: $color-link-active;
              }

              a{
                color: $color-link;
                text-decoration: none;
                display: flex;
                align-items: center;
                height: 35px;

                &:hover{
                  color: $color-link-active;

                }

                i.fa-home{
                  font-size: 24px;
                  margin-right: 5px;
                  display: flex;
                  align-items: center;
                }

                i{
                  margin-left: 5px;
                  display: flex;
                  align-items: center;
                  height: 30px;
                }

                span{
                  display: flex;
                  align-items: center;
                  height: 30px;
                }

              }

              i{
                margin-left: 5px;
              }



              &:hover{

                color: $color-link-active;
                .dropdown{
                  visibility: visible;
                }
              }
            }

            &.dropdown{
              background-color: $color-background;
              display: flex;
              flex-direction: column;
              position: absolute;
              top: 45px;
              left: 0;
              padding: 10px;
              visibility: hidden;
              border: 1px solid $color-link-active;
              transition: all .1s;
              min-width: 300px;


             li{
                border-bottom: 1px dotted $color-item;
                padding-left: 10px;
                font-size: 14px;

               a{
                 text-transform: none;
               }

                &.active{

                  a{
                    color: $color-link-active;
                    text-transform: none;
                  }

                }

                &:last-child{
                  border-bottom: none;
                }


              }
            }

            a {
              display: block;
              width: 100%;
              height: 100%;
            }
          }

        }

        .right_block{
          display: flex;
          justify-content: center;
          align-items: center;
          color: $color-link;
          font-size: 18px;
          text-transform: lowercase;

          .key{
            display: flex;
            margin-right: 15px;
            align-items: center;
            cursor: pointer;

            i{
              margin-right: 5px;
            }
          }


          .search{
            margin-left: 5px;
            border-left: 2px solid white;
            padding-left: 10px;
            cursor: pointer;
          }
        }
      }


  }

}