@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

body{
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $color-background-base;
}

a{
  color: $color-link-base;
}