@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

body{
  @include font-default;
  background-color: $color-background-base;
}

a{
  color: $color-link-base;
  &:hover{
    text-decoration: none;
    color: lighten($color-link-base,15);
  }
}