@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

#mod_search_dog {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $color-grey-light;

  .mod_title {
    margin-left: 20px;
    display: flex;
    align-items: center;
    min-height: 40px;
    flex-wrap: wrap;

    h2 {
      @include clear;
      font-size: 20px;
      text-transform: uppercase;
      color: $color-base;
      margin-right: 20px;
    }

    .link_help {
      a {
        color: $color-grey;
        text-decoration: underline;

      }
    }

  }

  .block_posts {
    margin: 10px;

    .post {
      margin-bottom: 5px;
      padding: 5px;
      width: 100%;
      //overflow: hidden;
      //border: 1px solid $color-grey-light;

      &:hover{
        .wrap_post{

          .message{
            opacity: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }

      .wrap_post{
        position: relative;
        width: 100%;
        height: 265px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          transition: all 1s;
        }

        .message{
          opacity: 0;
          padding: 10px;
          position: absolute;
          top: 50%;
          left: 50%;
          background-color: $color-item;
          transition: all 1s ease-in-out;
          height: 0%;
          width: 0%;

          .text{
            width: 100%;
            height: 180px;
            margin-bottom: 10px;
            overflow: hidden;
          }

          .contacts{
            margin-left: 0px;

            .phones{

              .mobile{
                display: flex;
                align-items: center;
                i{
                  font-size: 22px;
                }
              }

              .phone{
                display: flex;
                align-items: center;
              }
              i{
                color: $color-base;
                font-size: 20px;
                margin-right: 5px;
              }
              span{
                font-weight: bold;
              }
            }

            .skype{
              display: flex;
              align-items: center;

              i{
                color: dodgerblue;
                font-size: 20px;
                margin-right: 5px;
              }
              span{
                font-weight: bold;
              }
            }
          }

          .link{
            //margin: 10px;
            position: absolute;
            min-height: 30px;
            min-width: 120px;
            right: 10px;
            bottom: 10px;
            background-color: $color-base;
            border-radius: .3em;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
              @include shadow_block;
            }

            a{
              display: flex;
              align-items: center;
              justify-content: space-around;
              width: 100%;
              height: 100%;
              color: $color-item;
              text-decoration: none;

              &:hover{
                color: $color-link-active;
              }
            }
          }

        }
      }



      .info {
        padding: 10px;

        .breed {

          i {
            color: $color-icon-breed;
            margin-right: 5px;
            font-size: 16px;
            font-weight: bold;
          }
          .label{
            font-weight: bold;
          }
        }

        .sex{

          i {
            color: $color-icon-sex;
            margin-right: 5px;
            font-size: 16px;
            font-weight: bold;
          }
          .label{
            font-weight: bold;
          }
        }

        .event {

          span {
            font-weight: bold;

            &.day {
              font-weight: normal;
            }
          }

          i {
            color: $color-icon-event;
            margin-right: 5px;
            font-size: 16px;
          }
        }

        .map {

          span {
            font-weight: bold;

            &.day {
              font-weight: normal;
            }
          }

          i {
            color: $color-icon-map;
            margin-right: 5px;
            font-size: 16px;
          }
        }
      }


    }
  }

  .filters {
    padding: 5px;
    min-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: $color-base;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
      min-height: 40px;
      margin-left: 5px;
      width: 100%;

      .form-row {
        display: flex;
        align-items: center;
        justify-content: center;

        .form-group {
          @include clear;
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;

          .select {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            min-width: 180px;
            border-radius: .3em;

            select {
              width: 100%;
              appearance: none;
              background-color: $color-background-base;
              border: 2px solid lighten($color-base,15);
              border-radius: .3em;

              @include devices-max-width-992px {
                font-size: 16px;
              }

            }
            i{
              position: absolute;
              right: 10px;
              color: $color-base;
              //z-index: 100;
            }

          }


        }


        button {
          width: 100%;

          @include devices-max-width-600px {
            width: 50%;
          }
          min-height: 40px;
          //margin: 5px;
          background-color: $color-base;
          border: 2px solid $color-background-base;
          border-radius: .3em;
          align-self: center;

          i, span {
            color: $color-background-base;
            font-size: 18px;
          }

          span {
            text-transform: uppercase;
          }

        }

      }
    }

  }

  .mod_links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;

    .all_post, .add_post {
      padding: 5px;

      a {
        color: $color-grey;
        font-size: 14px;
        text-decoration: none;
        display: flex;
        align-items: center;

        &:hover {
          color: $color-base;
        }

        i{
          font-size: 18px;
          margin-right: 5px;
        }
      }
    }
  }

}

