@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

#mod_slider_top {

  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  position: relative;

  .owl-nav {
    position: relative;
    width: 100%;
    bottom: 130px;

    .owl-prev {
      position: absolute;
      left: 0;
      z-index: 100;
      cursor: pointer;
    }
    .owl-next {
      position: absolute;
      right: 0px;
      z-index: 100;
      cursor: pointer;
    }

    i{
      color: darken($color-grey-light,20);
      &:hover{
        color:$color-base;
      }
    }
  }

}