@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

#mod_new_articles {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid $color-grey-light;

  .mod_title {
    margin-left: 20px;
    display: flex;
    align-items: center;
    min-height: 40px;
    flex-wrap: wrap;

    h2 {
      @include clear;
      font-size: 20px;
      text-transform: uppercase;
      color: $color-base;
      margin-right: 20px;
    }

    .link_help {
      a {
        color: $color-grey;
        text-decoration: underline;

      }
    }
  }

  .block_articles{
    margin: 20px;

    .article{
      padding: 10px;

      &:hover{
        .wrap_article{
          border-bottom: 3px solid $color-base;

          .content{
            top: 0 !important;

            .title{
              border-bottom: 1px dotted $color-base;
              padding-bottom: 10px;
            }
            .text{
              visibility: visible;
            }
          }
          .button-more{
            top: 350px !important;
          }
        }

      }

      .wrap_article{
        position: relative;
        height: 400px;
        width: 100%;
        overflow: hidden;
        border-bottom: 3px solid $color-grey-light;

        img{
          width: 100%;
          height: 150px;
          margin-bottom: 5px;
          @include devices-min-width-320px{
            height: 150px;
          }
          @include devices-min-width-480px{
            height: 250px;
          }
          @include devices-min-width-600px{
            height: 150px;
          }
          @include devices-min-width-768px{
            height: 180px;
          }
          @include devices-min-width-800px{
            height: 200px;
          }
          @include devices-min-width-992px{
            height: 140px;
          }

        }
        .content{
          position: absolute;
          top: 160px;
          @include devices-min-width-480px{
            top: 260px;
          }
          @include devices-min-width-600px{
            top: 160px;
          }
          @include devices-min-width-768px{
            top: 200px;
          }
          @include devices-min-width-800px{
            top: 220px;
          }
          @include devices-min-width-992px{
            top: 160px;
          }

          transition: 1s;
          background-color: $color-item;
          z-index: 90;

          .data{
            color: $color-base;
            margin-bottom: 5px;
          }
          .title{
            max-height: 100px;
            margin-bottom: 10px;
            overflow: hidden;
            h3{
              font-size: 16px;

              a{
                color:$color-grey ;
                text-decoration: none;
                &:hover{
                  color: $color-link-base;
                }
              }
            }

          }

          .text{
            visibility: hidden;
            max-height: 210px;
            overflow: hidden;
            font-size: 14px;
          }
        }

        .button-more{
          position: absolute;
          top: 400px;
          z-index: 100;
          transition: 1s;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          a{
            width: 150px;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: $color-base;
            color: $color-item;
            border-radius: .3em;
            text-decoration: none;

            &:hover{
              color: $color-link-active;
              @include shadow_block;
            }
          }
        }
      }
    }
  }
}